/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgb(14, 17, 36), rgb(36, 26, 73));
    // color: #fff;
}

.container {
    color: #fff;
}

.intro-section {
    text-align: center;
    color: #fff;
    padding: 20px;
}

.form-control {
    background-color: transparent;
    color: #fff;

    &::placeholder {
        color: rgba(255, 255, 255, 0.5);
        opacity: 1;
    }

    &:-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.5);
    }

    &::-ms-input-plaholder {
        color: rgba(255, 255, 255, 0.5);
    }
}

button.btn {
    &.btn-gradient {
        color: #fff;
        background: linear-gradient(to right, rgb(225, 64, 180), rgb(126, 43, 237));
        border-radius: 30px;
        width: 200px;
    }
}